<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>v-else</title>
	</head>
	<script src="js/vue.js"></script>
	<body>
		<div id="app">
			<p>请输入成绩:</p>
			<input type="text" v-model="grade"/>
			<p v-if="grade>100">不能超过100</p>
			<p v-else-if="grade>=90">优秀</p>
			<p v-else-if="grade>=75">良好</p>
			<p v-else-if="grade>=60">及格</p>
			<p v-else-if="grade>=0">不及格</p>
			<p v-else>不能输入一些骚东西</p>
		</div>
		<script>
			new Vue({
				el:'#app',
				data:{
					grade : 77
				}
			})
			
		</script>
	</body>
</html>
